<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">

    <title>{{ shop.name }} - {{ page_title }}</title>

    <!-- Checkout Head Content Include -->
    {{ content_for_header }}

    <!-- Checkout Stylesheets Include -->
    {{ checkout_stylesheets }}

    <!-- PPF Stylesheet -->
    {{ 'ppfTheme.scss.css' | asset_url | stylesheet_tag }}

    <!-- jQuery -->
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

    <!-- Checkout Scripts Include -->
    {{ checkout_scripts }}

  </head>
  <body id="checkout" class="template-checkout">
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    <!-- Order Summary -->
    {{ order_summary_toggle }}
    <!-- /Order Summary -->

    <div class="content" data-content>
      <div class="wrap">
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
            {% comment %}
              ### NOTE KLT0726: Added hidden checkout properties for passing to special order
              processing logic.
            {% endcomment %}
            <div id="ShippingProvinceCode" style="display:none;">{{ checkout.shipping_address.province_code }}</div>
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
      </div>
    </div>

    <!-- Common Page Scripts -->
    <script>

      jQuery(function($) {

        /*
         * Remove custom order item property labels from order summary display
         */
        setTimeout(function() {
          // Remove "cuttingInstructions: " labels from order summary items
          $('span.product__description__property:contains("cuttingInstructions")').each(function() {
            var propertyText    = $(this).text();
            propertyText        = $.trim(propertyText);
            propertyText        = propertyText.replace('cuttingInstructions: ', '');
            $(this).text(propertyText);
          });
          // Remove "special_instructions: " labels from order summary items
          $('span.product__description__property:contains("special_instructions")').each(function() {
            var propertyText    = $(this).text();
            propertyText        = $.trim(propertyText);
            propertyText        = propertyText.replace('special_instructions: ', '');
            $(this).text(propertyText);
          });
        }, 800);

        /*
         * Provide phone assistance instructions for customers shipping to restricted/special
         * locations (Alaska, Hawaii, and Puerto Rico)
         */
        var
          provinceCode          = $('#ShippingProvinceCode').text(),
          restrictedProvinces   = ['AK','HI','PR'],
          orderNumber           = '{{ checkout.order_number }}',
          warningArea           = $('div.content-box.blank-slate');

        var callMessage         = '<div class="message call-message">'          +
          'Please <a href="tel:+800-542-7732">call us</a> toll-free at '        +
          '<a href="tel:+800-542-7732">1-800-542-7732</a> so we may assist you '+
          'with placing your order. Please reference order ' + orderNumber + ' '+
          'when you call.</div>';

        if ($(warningArea).length && $.inArray(provinceCode, restrictedProvinces)) {
          $(warningArea).append(callMessage);
        }

      });

    </script>

    {{ tracking_code }}

  </body>
</html>
