<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}

{% if cart.item_count > 0 %}

  <h1 class="visually-hidden">{{ 'cart.general.title' | t }}</h1>
  <form action="/cart" method="post" novalidate class="cart table-wrap">
    <table class="cart-table full table--responsive">
      <thead class="cart__row cart__header-labels">
        <th colspan="2" class="text-left">{{ 'cart.label.product' | t }}</th>
        <th class="text-right">{{ 'cart.label.price' | t }}</th>
        <th class="text-right">{{ 'cart.label.quantity' | t }}</th>
        <th class="text-right">{{ 'cart.label.total' | t }}</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr class="cart__row table__section">
            <td data-label="{{ 'customer.order.product' | t }}" class="thumbnail">

              <a href="{{ item.url | within: collections.all }}" class="cart__image">
                {% comment %}
                  More image size options at:
                    - http://docs.shopify.com/themes/filters/product-img-url
                {% endcomment %}
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>

            </td>
            <td class="details">

              <!-- Product Name (and vendor) -->
              <div class="title">
                <a href="{{ item.url }}" class="h4">
                  <span>{{ item.product.title }}</span>
                </a>

                {% if settings.cart_vendor_enable %}
                  <p class="vendor">{{ item.vendor }}</p>
                {% endif %}
              </div>
              <!-- /Product Name (and vendor) -->

              <!-- Product Specs (weight, instructions) -->
              <div class="specifications">

                {% comment %}
                  ### NOTE KLT061516: Added containing element for variants
                {% endcomment %}
                <div class="variants">
                  {% unless item.variant.title contains 'Default' %}
                    <p><small>{{ item.variant.title }}</small></p>
                  {% endunless %}
                </div>

                {% comment %}
                  ### NOTE KLT061516: Added containing element for additional properties
                {% endcomment %}
                <div class="properties">

                  {% comment %}
                    Optional, loop through custom product line items if available

                    For more info on line item properties, visit:
                      - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization

                    ### NOTE KLT061616: Merged recommended InfiniteOptions display with the below/pre-existing Timber implementation
                  {% endcomment %}
                  {% assign property_size = item.properties | size %}
                  {% if property_size > 0 %}
                    {% for p in item.properties %}
                      {% unless p.last == blank %}

                        <p>
                        {% if p.first contains 'cuttingInstructions' %}
                          {{ 'cart.general.item_cutting_instructions' | t }}:
                        {% elsif p.first contains 'specialInstructions' %}
                          {{ 'cart.general.item_special_instructions' | t }}:
                        {% else %}
                          {{ p.first }}:
                        {% endif %}

                        {% comment %}
                          Check if there was an uploaded file associated
                        {% endcomment %}
                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}

                        </p>
                      {% endunless %}
                    {% endfor %}
                  {% endif %}

                </div>

              </div>
              <!-- /Product Specs (weight, instructions) -->

              <!-- Product Actions (delete) -->
              <div class="actions">
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                  <small>{{ 'cart.general.remove' | t }}</small>
                </a>
              </div>
              <!-- /Product Actions (delete) -->

            </td>
            <td data-label="{{ 'cart.label.price' | t }}" class="text-right price">
              <span class="h3 price">
                {{ item.price | money }}
              </span>
            </td>
            <td data-label="{{ 'cart.label.quantity' | t }}" class="text-right quantity">
              <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
            </td>
            <td data-label="{{ 'cart.label.total' | t }}" class="text-right total">
              {% if item.original_line_price != item.line_price %}
                <span class="cart-item__original-price"><s>{{ item.original_line_price | money }}</s></span>
              {% endif %}
              <span class="h3 price">
                {{ item.line_price | money }}
              </span>
              {% for discount in item.discounts %}
                <span class="cart-item__discount">{{ discount.title }}</span>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}

        {% comment %}
          ### NOTE KLT061516: Moved total/update information to bottom row of table, for striping
                              - Everything within the <div /> was previously directly after the table
        {% endcomment %}
        <tr class="cart__row table__section">
          <td colspan="5" class="summary">

            <div class="grid cart__row">
              {% if settings.cart_notes_enable %}
                <div class="grid__item two-thirds small--one-whole hide">
                  <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                  <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                </div>
              {% endif %}
              {% comment %}
                ### NOTE KLT061516: Added grid item for shipping note and "Keep Shopping" button
              {% endcomment %}
              <div class="grid__item one-third small--one-whole">

                {% comment %}
                  ### NOTE KLT062216: Assign total cart weight to variable with unit prior to using in interpolation
                {% endcomment %}
                {% assign cart_weight = cart.total_weight | weight_with_unit %}
                <h3 class="order-weight-heading">{{ 'cart.general.order_weight' | t: total_weight: cart_weight }}</h3>
                <p class="order-weight-disclaimer">{{ 'cart.general.shipping_disclaimer' | t }}</p>

                {% comment %}
                  ### TODO KLT061516: There is currently no resource corresponding to this label.
                {% endcomment %}
                <a href="/collections/all" class="btn--secondary">Keep Shopping</a>

              </div>
              <div class="grid__item text-center one-third small--one-whole">
                {% comment %}
                  ### NOTE KLT062016: jQuery UI implementation for shipping date picker - Autotag Delivery Date app should, in
                                      theory, automatically hook into the date picker once activated.
                {% endcomment %}
                <div class="delivery-date">
                  <h4>{{ settings.heading_delivery_date }}</h4>
                  <input type="text" id="delivery_date" name="attributes[delivery_date]" value="{{ cart.attributes.delivery_date }}" size="30">
                  <div class="day-warning"><small>{{ settings.warning_delivery_date_limited_friday }}</small></div>
                </div>

              </div>
              <div class="grid__item text-right{% if settings.cart_notes_enable %} one-third small--one-whole{% endif %}">
                <p>
                  <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}: </span>
                  <span class="h4 cart__subtotal">{{ cart.total_price | money }}</span>
                </p>
                {% if cart.total_discounts > 0 %}
                  {% assign savings = cart.total_discounts | money %}
                  <p>
                    <span class="cart-subtotal__savings"><em>{{ 'cart.general.savings_html' | t: price: savings }}</em></span>
                  </p>
                {% endif %}
                <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>

                <input type="submit" name="update" class="btn--secondary update-cart" value="{{ 'cart.general.update' | t }}">
                <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">
              </div>
            </div>

          </td>
        </tr>

      </tbody>
    </table>
  </form>
{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <h2>{{ 'cart.general.title' | t }}</h2>
  <p>{{ 'cart.general.empty' | t }}</p>
  <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
{% endif %}


<script>
  $(function() {

    /**
     * Shipping date selection functionality - datepicker and business rules for Friday and weekend shipping
     */
    $('#delivery_date').datepicker({
      minDate                   : '+1d',
      maxDate                   : '+3m',
      dateFormat                : 'DD, MM d, yy',
      beforeShowDay: function(date) {
        var
          today                 = new Date(),
          dayOfWeek             = date.getDay()
          warningTooltip        = '{{ settings.warning_delivery_date_limited_friday }}';

        if (dayOfWeek == 6) {
          return [true, 'day-warning', warningTooltip];
        }
        else {
          return [(dayOfWeek != 0)];
        }
      }
    });
    $('#delivery_date').change(function() {
      var selectedDate          = $(this).val();
      if (selectedDate.toLowerCase().indexOf('saturday') > -1) {
        $('.delivery-date div.day-warning').show();
      }
      else {
        $('.delivery-date div.day-warning').hide();
      }
    });

  });
</script>