<!-- /templates/index.liquid -->

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}

<div class="grid grid--table grid-uniformX">

  <!-- Banner / Media -->
  <div class="grid__item large--one-whole medium--one-whole small--one-whole" style="margin-bottom: 6px">
    {{ 'Home.Banner.jpg' | asset_url | img_tag }}
  </div>

  <!-- Upper Left Quadrant -->
  <div class="grid__item large--one-half medium--one-half small--one-whole" style="margin-bottom: 6px;">

    <div class="grid">

      <div class="grid__item large--one-half medium--one-half small--one-half">

        <div class="grid">

          <!-- Product Promotion #1 -->
          <div class="grid__item large--one-whole medium--one-whole small--one-whole product-promotion first" style="margin-bottom: 6px;">
            <!-- {{ 'Home.ProductPromo1.png' | asset_url | img_tag }} -->

            <!-- Assign Product Variables -->
            {% assign promo1_handle = settings.home_promotion_a %}
            {% assign promo1_product = all_products[promo1_handle] %}
            {% assign promo1_variant = promo1_product.selected_or_first_available_variant %}

            <!-- Display promotion data -->
            <div class="promotion-data">
              <h2 class="title">{{ promo1_product.title }}</h2>
              <p class="price">
                {% if promo1_product.variants.size > 1 %}From {% endif %}
                ${{ promo1_variant.price | money_without_currency }}
              </p>
            </div>

          </div>

          <!-- "Fresh Crab" -->
          <div class="grid__item large--one-whole medium--one-whole small--one-whole"><!-- pull--medium--one-half -->
            {{ 'Home.Crab.jpg' | asset_url | img_tag }}
          </div>

        </div>

      </div>

      <!-- Meet the Mongers -->
      <div class="grid__item large--one-half medium--one-half small--one-half">
        {{ 'Home.FishMonger.jpg' | asset_url | img_tag }}
      </div>

    </div>

  </div>
  <!-- /Upper Left Quadrant -->

  <!-- Upper Right Quadrant -->
  <div class="grid__item large--one-half medium--one-half small--one-whole" style="margin-bottom: 6px;">

    <div class="grid">

      <!-- "Fresh Salmon" -->
      <div class="grid__item large--one-whole medium--one-whole small--one-whole" style="margin-bottom: 6px;">
        {{ 'Home.SalmonFilets.jpg' | asset_url | img_tag }}
      </div>

      <!-- Product Promotion #2 -->
      <div class="grid__item large--one-half medium--one-half small--one-half product-promotion second">
        <!-- {{ 'Home.ProductPromo2.png' | asset_url | img_tag }} -->

        <!-- Assign Product Variables -->
        {% assign promo2_handle = settings.home_promotion_b %}
        {% assign promo2_product = all_products[promo2_handle] %}
        {% assign promo2_variant = promo2_product.selected_or_first_available_variant %}

        <!-- Display promotion data -->
        <div class="promotion-data">
          <h2 class="title">{{ promo2_product.title }}</h2>
          <p class="price">
            {% if promo2_product.variants.size > 1 %}From {% endif %}
            ${{ promo2_variant.price | money_without_currency }}


            {{ promo2_product.product_type }}
          </p>
        </div>

      </div>

      <!-- "Fulfillment" -->
      <div class="grid__item large--one-half medium--one-half small--one-half">
        {{ 'Home.Fulfillment.jpg' | asset_url | img_tag }}
      </div>

    </div>

  </div>
  <!-- /Upper Right Quadrant -->


  <!-- Product Promotion #3 -->
  <div class="grid__item large--one-quarter medium--one-quarter small--one-half product-promotion third">
    <!-- {{ 'Home.ProductPromo3.png' | asset_url | img_tag }} -->

    <!-- Assign Product Variables -->
    {% assign promo3_handle = settings.home_promotion_c %}
    {% assign promo3_product = all_products[promo3_handle] %}
    {% assign promo3_variant = promo3_product.selected_or_first_available_variant %}

    <!-- Display promotion data -->
    <div class="promotion-data">
      <h2 class="title">{{ promo3_product.title }}</h2>
      <p class="price">
        {% if promo3_product.variants.size > 1 %}From {% endif %}
        ${{ promo3_variant.price | money_without_currency }}


        {{ promo3_product.product_type }}
      </p>
    </div>

  </div>

  <!-- Gift Packs -->
  <div class="grid__item large--one-half medium--one-half small--one-whole pull--small--one-half">
    {{ 'Home.Market.jpg' | asset_url | img_tag }}
  </div>

  <!-- Seafood Watch -->
  <div class="grid__item large--one-quarter medium--one-quarter small--one-half">
    {{ 'Home.Monterey.png' | asset_url | img_tag }}
  </div>

</div>