<!-- /templates/index.liquid -->

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}

<div class="grid grid--table grid-uniformX">

  <!-- Banner / Media -->
  <div class="grid__item large--one-whole medium--one-whole small--one-whole bottom-buffer">
    {{ 'Home.Banner.jpg' | asset_url | img_tag }}
  </div>

  <!-- Upper Left Two Columns -->
  <div class="grid__item large--two-fifths medium--two-fifths small--one-whole bottom-buffer">

    <div class="grid">

      <div class="grid__item large--one-half medium--one-half small--one-half">

        <div class="grid">

          <!-- Product Promotion #1 -->
          <div class="grid__item large--one-whole medium--one-whole small--one-whole bottom-buffer">
            <!-- {{ 'Home.ProductPromo1.png' | asset_url | img_tag }} -->

            <div class="product-promotion blue first bottom-buffer">

              <!-- Assign Product Variables -->
              {% assign promo1_handle = settings.home_promotion_a %}
              {% assign promo1_product = all_products[promo1_handle] %}
              {% assign promo1_variant = promo1_product.selected_or_first_available_variant %}

              <!-- Display promotion data -->
              <a href="{{ promo1_product.url }}" class="promotion-data">
                <div>
                  <h2 class="title">{{ promo1_product.title }}</h2>
                  <p class="price">
                    {% if promo1_product.variants.size > 1 %}From {% endif %}
                    ${{ promo1_variant.price | money_without_currency }}
                  </p>
                </div>
              </a>

            </div>

          </div>

          <!-- "Fresh Crab" -->
          <div class="grid__item large--one-whole medium--one-whole small--one-whole"><!-- pull--medium--one-half -->
            {{ 'Home.Crab.jpg' | asset_url | img_tag }}
          </div>

        </div>

      </div>

      <!-- Meet the Mongers -->
      <div class="grid__item large--one-half medium--one-half small--one-half">
        <div class="page-link">

          <!-- Assign Page Link Variables -->
          {% assign pageLink1_handle = settings.home_link_1 %}
          {% assign pageLink1_page = pages[pageLink1_handle] %}

          <!-- Display page link data -->
          <a href="{{ pageLink1_page.url }}" class="link-data">
            {{ 'Home.FishMonger.jpg' | asset_url | img_tag: pageLink1_page.title, 'link-image' }}
            <div class="overlay">
              <div class="link-text"><h2>{{ pageLink1_page.title }}</h2></div>
            </div>
          </a>

        </div>
      </div>

    </div>

  </div>
  <!-- /Upper Left Two Columns -->

  <!-- Upper Middle Two Columns -->
  <div class="grid__item large--two-fifths medium--two-fifths small--one-whole bottom-buffer">

    <div class="grid">

      <!-- "Fresh Salmon" -->
      <div class="grid__item large--one-whole medium--one-whole small--one-whole bottom-buffer">
        {{ 'Home.SalmonFilets.jpg' | asset_url | img_tag }}
      </div>

      <!-- Product Promotion #2 -->
      <div class="grid__item large--one-half medium--one-half small--one-half">
        <!-- {{ 'Home.ProductPromo2.png' | asset_url | img_tag }} -->

        <div class="product-promotion orange second">
          <!-- Assign Product Variables -->
          {% assign promo2_handle = settings.home_promotion_b %}
          {% assign promo2_product = all_products[promo2_handle] %}
          {% assign promo2_variant = promo2_product.selected_or_first_available_variant %}

          <!-- Display promotion data -->
          <a href="{{ promo2_product.url }}" class="promotion-data">
            <div>
              <h2 class="title">{{ promo2_product.title }}</h2>
              <p class="price">
                {% if promo2_product.variants.size > 1 %}From {% endif %}
                ${{ promo2_variant.price | money_without_currency }}
              </p>
            </div>
          </a>

        </div>

      </div>

      <!-- "Fulfillment" -->
      <div class="grid__item large--one-half medium--one-half small--one-half">
        {{ 'Home.Fulfillment.jpg' | asset_url | img_tag }}
      </div>

    </div>

  </div>
  <!-- /Upper Middle Two Columns -->

  <!-- Upper Right Column -->
  <div class="grid__item large--one-fifth medium--one-fifth small--one-whole bottom-buffer">
    <div class="page-link">

      <!-- Assign Page Link Variables -->
      {% assign pageLink2_handle = settings.home_link_2 %}
      {% assign pageLink2_page = pages[pageLink2_handle] %}

      <!-- Display page link data -->
      <a href="{{ pageLink2_page.url }}" class="link-data">
        {{ 'Home.FishMonger2.jpg' | asset_url | img_tag: pageLink2_page.title, 'link-image' }}
        <div class="overlay">
          <div class="link-text"><h2>{{ pageLink2_page.title }}</h2></div>
        </div>
      </a>

    </div>
  </div>
  <!-- /Upper Right Column -->

  <!-- Product Promotion #3 -->
  <div class="grid__item large--one-fifth medium--one-fifth small--one-half">

    <div class="product-promotion green third">
      <!-- Assign Product Variables -->
      {% assign promo3_handle = settings.home_promotion_c %}
      {% assign promo3_product = all_products[promo3_handle] %}
      {% assign promo3_variant = promo3_product.selected_or_first_available_variant %}

      <!-- Display promotion data -->
      <a href="{{ promo3_product.url }}" class="promotion-data">
        <div>
          <h2 class="title">{{ promo3_product.title }}</h2>
          <p class="price">
            {% if promo3_product.variants.size > 1 %}From {% endif %}
            ${{ promo3_variant.price | money_without_currency }}
            {{ promo3_product.product_type }}
          </p>
        </div>
      </a>

    </div>

  </div>

  <!-- Gift Packs -->
  <div class="grid__item large--two-fifths medium--two-fifths small--one-whole pull--small--one-half">
    {{ 'Home.Market.jpg' | asset_url | img_tag }}
  </div>

  <!-- Seafood Watch -->
  <div class="grid__item large--one-fifth medium--one-fifth small--one-half">
    {{ 'Home.Monterey.png' | asset_url | img_tag }}
  </div>

  <!-- Product Promotion #4 -->
  <div class="grid__item large--one-fifth medium--one-fifth small--one-half">

    <div class="product-promotion grey fourth">
      <!-- Assign Product Variables -->
      {% assign promo4_handle = settings.home_promotion_c %}
      {% assign promo4_product = all_products[promo4_handle] %}
      {% assign promo4_variant = promo4_product.selected_or_first_available_variant %}

      <!-- Display promotion data -->
      <a href="{{ promo4_product.url }}" class="promotion-data">
        <div>
          <h2 class="title">{{ promo4_product.title }}</h2>
          <p class="price">
            {% if promo4_product.variants.size > 1 %}From {% endif %}
            ${{ promo4_variant.price | money_without_currency }}
            {{ promo4_product.product_type }}
          </p>
        </div>
      </a>

    </div>

  </div>

</div>

<!-- Page Scripts -->
<script>
  /**
    * Ensures each production promotion block maintains square dimensions
    */
  function setPromotionDimenions() {
    $('div.product-promotion').each(function() {
      var promotion             = $(this);
      $(promotion).height($(promotion).width());
    });
  };
  $(function() {
    setPromotionDimenions();
  });
  $(window).resize(function() {
    setPromotionDimenions();
  });
</script>