<!-- /templates/index.liquid -->

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}

<div class="grid">

  <!-- Banner / Media -->
  <div class="grid__item large--one-whole large-down--one-whole row">
    <div class="banner-container">
      <div class="video-background">
        <video width="100%" height="100%" poster="{{ 'Home.Banner.jpg' | asset_url }}" autoplay loop muted>
          <source src="{{ 'Home.BannerVideoFPO.mp4' | asset_url" }}" type="video/mp4">
          <source src="{{ 'Home.BannerVideoFPO.ogg' | asset_url" }}" type="video/ogg">
          <source src="{{ 'Home.BannerVideoFPO.webm' | asset_url" }}" type="video/webm">
          {{ 'Home.Banner.jpg' | asset_url | img_tag: 'Pike Place Fish Market' }}
        </video>
      </div>
      <div class="logo">
        {{ 'Logo.png' | asset_url | img_tag: 'Pike Place Fish Market' }}
      </div>
      <div class="tagline shop-link">
        <h1>All Sustainable, All the Time</h1>
        <a href="/collections/all" class="btn">Shop Now</a>
      </div>
    </div>
  </div>

  <!-- Upper Left Two Columns -->
  <div class="grid__item medium--two-fifths medium-down--one-whole row">

    <div class="grid">

      <div class="grid__item large--one-half large-down--one-half">

        <div class="grid">

          <!-- Product Promotion #1 -->
          <div class="grid__item large--one-whole large-down--one-whole row buffer-bottom">

            <div class="product-promotion blue first">

              <!-- Assign Product Variables -->
              {% assign promo1_handle = settings.home_promotion_a %}
              {% assign promo1_product = all_products[promo1_handle] %}
              {% assign promo1_variant = promo1_product.selected_or_first_available_variant %}

              <!-- Display promotion data -->
              <a href="{{ promo1_product.url }}" class="promotion-data">
                <div>
                  <h2 class="title">{{ promo1_product.title }}</h2>
                  <p class="price">
                    {% if promo1_product.variants.size > 1 %}From {% endif %}
                    ${{ promo1_variant.price | money_without_currency }}
                  </p>
                </div>
              </a>

            </div>

          </div>

          <!-- "Fresh Crab" -->
          <div class="grid__item large--one-whole large-down--one-whole">
            <div class="page-link">

              <!-- Assign Page Link Variables -->
              {% assign pageLink4_handle = settings.home_link_4 %}
              {% assign pageLink4_page = pages[pageLink4_handle] %}

              <!-- Display page link data or image -->
              {% if settings.home_link_4 != "" %}
                <a href="{{ pageLink4_page.url }}" class="link-data">
                  {{ 'Home.Crab.jpg' | asset_url | img_tag: pageLink4_page.title, 'link-image' }}
                  <div class="overlay">
                    <div class="link-text"><h2>{{ pageLink4_page.title }}</h2></div>
                  </div>
                </a>
              {% else %}
                {{ 'Home.Crab.jpg' | asset_url | img_tag: pageLink4_page.title, 'link-image' }}
              {% endif %}

            </div>
          </div>

        </div>

      </div>

      <!-- Meet the Mongers -->
      <div class="grid__item large--one-half large-down--one-half">
        <div class="page-link">

          <!-- Assign Page Link Variables -->
          {% assign pageLink1_handle = settings.home_link_1 %}
          {% assign pageLink1_page = pages[pageLink1_handle] %}

          <!-- Display page link data or image -->
          {% if settings.home_link_1 != "" %}
            <a href="{{ pageLink1_page.url }}" class="link-data">
              {{ 'Home.FishMonger.jpg' | asset_url | img_tag: pageLink1_page.title, 'link-image' }}
              <div class="overlay">
                <div class="link-text"><h2>{{ pageLink1_page.title }}</h2></div>
              </div>
            </a>
          {% else %}
            {{ 'Home.FishMonger.jpg' | asset_url | img_tag: pageLink1_page.title, 'link-image' }}
          {% endif %}

        </div>
      </div>

    </div>

  </div>
  <!-- /Upper Left Two Columns -->

  <!-- Upper Middle Two Columns -->
  <div class="grid__item medium--two-fifths medium-down--one-whole row">

    <div class="grid">

      <!-- "Fresh Salmon" -->
      <div class="grid__item large--one-whole large-down--one-whole row">
        <div class="page-link">

          <!-- Assign Page Link Variables -->
          {% assign pageLink2_handle = settings.home_link_2 %}
          {% assign pageLink2_page = pages[pageLink2_handle] %}

          <!-- Display page link data or image -->
          {% if settings.home_link_2 != "" %}
            <a href="{{ pageLink2_page.url }}" class="link-data">
              {{ 'Home.SalmonFilets.jpg' | asset_url | img_tag: pageLink2_page.title, 'link-image' }}
              <div class="overlay">
                <div class="link-text"><h2>{{ pageLink2_page.title }}</h2></div>
              </div>
            </a>
          {% else %}
            {{ 'Home.SalmonFilets.jpg' | asset_url | img_tag: pageLink2_page.title, 'link-image' }}
          {% endif %}

        </div>
      </div>

      <!-- Product Promotion #2 -->
      <div class="grid__item large--one-half large-down--one-half">
        <!-- {{ 'Home.ProductPromo2.png' | asset_url | img_tag }} -->

        <div class="product-promotion orange second">
          <!-- Assign Product Variables -->
          {% assign promo2_handle = settings.home_promotion_b %}
          {% assign promo2_product = all_products[promo2_handle] %}
          {% assign promo2_variant = promo2_product.selected_or_first_available_variant %}

          <!-- Display promotion data -->
          <a href="{{ promo2_product.url }}" class="promotion-data">
            <div>
              <h2 class="title">{{ promo2_product.title }}</h2>
              <p class="price">
                {% if promo2_product.variants.size > 1 %}From {% endif %}
                ${{ promo2_variant.price | money_without_currency }}
              </p>
            </div>
          </a>

        </div>

      </div>

      <!-- "Fulfillment" -->
      <div class="grid__item large--one-half large-down--one-half">
        <div class="page-link">

          <!-- Assign Page Link Variables -->
          {% assign pageLink5_handle = settings.home_link_5 %}
          {% assign pageLink5_page = pages[pageLink5_handle] %}

          <!-- Display page link data or image -->
          {% if settings.home_link_5 != "" %}
            <a href="{{ pageLink5_page.url }}" class="link-data">
              {{ 'Home.Fulfillment.jpg' | asset_url | img_tag: pageLink5_page.title, 'link-image' }}
              <div class="overlay">
                <div class="link-text"><h2>{{ pageLink5_page.title }}</h2></div>
              </div>
            </a>
          {% else %}
            {{ 'Home.Fulfillment.jpg' | asset_url | img_tag: pageLink5_page.title, 'link-image' }}
          {% endif %}

        </div>
      </div>

    </div>

  </div>
  <!-- /Upper Middle Two Columns -->

  <!-- Upper Right Column: hide for small screens -->
  <div class="grid__item medium--one-fifth medium-down--hide row">
    <div class="page-link">

      <!-- Assign Page Link Variables -->
      {% assign pageLink3_handle = settings.home_link_3 %}
      {% assign pageLink3_page = pages[pageLink3_handle] %}

      <!-- Display page link data or image -->
      {% if settings.home_link_3 != "" %}
        <a href="{{ pageLink3_page.url }}" class="link-data">
          {{ 'Home.FishMonger2.jpg' | asset_url | img_tag: pageLink3_page.title, 'link-image' }}
          <div class="overlay">
            <div class="link-text"><h2>{{ pageLink3_page.title }}</h2></div>
          </div>
        </a>
      {% else %}
        {{ 'Home.FishMonger2.jpg' | asset_url | img_tag: pageLink3_page.title, 'link-image' }}
      {% endif %}

    </div>
  </div>
  <!-- /Upper Right Column -->

  <!-- Bottom 'Row' -->
  <div class="grid__item large--one-whole large-down--one-whole row">

    <div class="grid">

      <!-- Product Promotion #3 -->
      {% comment %}
        ### TODO KLT060816: Should be able to pull/push this item to swap positions, but not working as exepected
      {% endcomment %}
      <div class="grid__item medium--one-fifth medium-down--hide">

        <div class="product-promotion green third">
          <!-- Assign Product Variables -->
          {% assign promo3_handle = settings.home_promotion_c %}
          {% assign promo3_product = all_products[promo3_handle] %}
          {% assign promo3_variant = promo3_product.selected_or_first_available_variant %}

          <!-- Display promotion data -->
          <a href="{{ promo3_product.url }}" class="promotion-data">
            <div>
              <h2 class="title">{{ promo3_product.title }}</h2>
              <p class="price">
                {% if promo3_product.variants.size > 1 %}From {% endif %}
                ${{ promo3_variant.price | money_without_currency }}
                {{ promo3_product.product_type }}
              </p>
            </div>
          </a>

        </div>

      </div>

      <!-- Gift Packs -->
      {% comment %}
        ### TODO KLT060816: Should be able to pull/push this item to swap positions, but not working as exepected
      {% endcomment %}
      <div class="grid__item medium--two-fifths medium-down--one-whole">
        <div class="page-link">

          <!-- Assign Page Link Variables -->
          {% assign pageLink6_handle = settings.home_link_6 %}
          {% assign pageLink6_page = pages[pageLink6_handle] %}

          <!-- Display page link data -->
          {% if settings.home_link_6 != "" %}
            <a href="{{ pageLink6_page.url }}" class="link-data">
              {{ 'Home.Market.jpg' | asset_url | img_tag: pageLink6_page.title, 'link-image' }}
              <div class="overlay">
                <div class="link-text"><h2>{{ pageLink6_page.title }}</h2></div>
              </div>
            </a>
          {% else %}
            {{ 'Home.Market.jpg' | asset_url | img_tag: pageLink6_page.title, 'link-image' }}
          {% endif %}

        </div>
      </div>

      <!-- Product Promotion #3 -->
      {% comment %}
        ### TODO KLT060816: Should be able to pull/push this item to swap positions, but not working as exepected
      {% endcomment %}
      <div class="grid__item medium--hide medium-down--one-half">

        <div class="product-promotion green third">
          <!-- Assign Product Variables -->
          {% assign promo3_handle = settings.home_promotion_c %}
          {% assign promo3_product = all_products[promo3_handle] %}
          {% assign promo3_variant = promo3_product.selected_or_first_available_variant %}

          <!-- Display promotion data -->
          <a href="{{ promo3_product.url }}" class="promotion-data">
            <div>
              <h2 class="title">{{ promo3_product.title }}</h2>
              <p class="price">
                {% if promo3_product.variants.size > 1 %}From {% endif %}
                ${{ promo3_variant.price | money_without_currency }}
                {{ promo3_product.product_type }}
              </p>
            </div>
          </a>

        </div>

      </div>

      <!-- Seafood Watch -->
      <div class="grid__item medium--one-fifth medium-down--one-half">
        <div class="page-link">

          <!-- Assign Page Link Variables -->
          {% assign pageLink7_handle = settings.home_link_7 %}
          {% assign pageLink7_page = pages[pageLink7_handle] %}

          <!-- Display page link data -->
          {% if settings.home_link_7 != "" %}
            <a href="{{ pageLink7_page.url }}" class="link-data">
              {{ 'Home.Monterey.png' | asset_url | img_tag: pageLink7_page.title, 'link-image' }}
              <div class="overlay">
                <div class="link-text"><h2>{{ pageLink7_page.title }}</h2></div>
              </div>
            </a>
          {% else %}
            {{ 'Home.Monterey.png' | asset_url | img_tag: pageLink7_page.title, 'link-image' }}
          {% endif %}

          <!-- {{ settings.home_photo_7 }} -->

        </div>
      </div>

      <!-- Product Promotion #4 -->
      <div class="grid__item medium--one-fifth medium-down--hide">

        <div class="product-promotion grey fourth">
          <!-- Assign Product Variables -->
          {% assign promo4_handle = settings.home_promotion_d %}
          {% assign promo4_product = all_products[promo4_handle] %}
          {% assign promo4_variant = promo4_product.selected_or_first_available_variant %}

          <!-- Display promotion data -->
          <a href="{{ promo4_product.url }}" class="promotion-data">
            <div>
              <h2 class="title">{{ promo4_product.title }}</h2>
              <p class="price">
                {% if promo4_product.variants.size > 1 %}From {% endif %}
                ${{ promo4_variant.price | money_without_currency }}
                {{ promo4_product.product_type }}
              </p>
            </div>
          </a>

        </div>

      </div>

    </div>

  </div>
  <!-- /Bottom 'Row' -->

  <!-- Small-Screen Bottom Area -->
  <div class="grid__item medium--hide medium-down--one-whole">

    <div class="grid">

      <!-- Meet the Mongers -->
      <div class="grid__item medium-down--one-half">
        <div class="page-link">

          <!-- Assign Page Link Variables -->
          {% assign pageLink2_handle = settings.home_link_2 %}
          {% assign pageLink2_page = pages[pageLink2_handle] %}

          <!-- Display page link data -->
          <a href="{{ pageLink2_page.url }}" class="link-data">
            {{ 'Home.FishMonger2.jpg' | asset_url | img_tag: pageLink2_page.title, 'link-image' }}
            <div class="overlay">
              <div class="link-text"><h2>{{ pageLink2_page.title }}</h2></div>
            </div>
          </a>

        </div>
      </div>

      <div class="grid__item medium-down--one-half">

        <div class="grid">

          <!-- Product Promotion #4 -->
          <div class="grid__item medium-down--one-whole row">

            <div class="product-promotion grey fourth">
              <!-- Assign Product Variables -->
              {% assign promo4_handle = settings.home_promotion_d %}
              {% assign promo4_product = all_products[promo4_handle] %}
              {% assign promo4_variant = promo4_product.selected_or_first_available_variant %}

              <!-- Display promotion data -->
              <a href="{{ promo4_product.url }}" class="promotion-data">
                <div>
                  <h2 class="title">{{ promo4_product.title }}</h2>
                  <p class="price">
                    {% if promo4_product.variants.size > 1 %}From {% endif %}
                    ${{ promo4_variant.price | money_without_currency }}
                    {{ promo4_product.product_type }}
                  </p>
                </div>
              </a>

            </div>

          </div>

          <!-- Bottom Right Block -->
          {% comment %}
            ### NOTE KLT060816: Temporary!!! Conversation regarding what should fill this block pending
          {% endcomment %}
          <div class="grid__item medium-down--one-whole" style="position: relative;">
            <div class="product-promotion" style="background: {{ settings.color_secondary }}">
              <div class="promotion-data"><h2>Content Needed</h2></div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
  <!-- /Upper Left Two Columns -->


</div>

<!-- Page Scripts -->
<script>
  /**
    * Ensures each production promotion block maintains square dimensions
    */
  function setPromotionDimenions() {
    $('div.product-promotion').each(function() {
      var promotion             = $(this);
      $(promotion).height($(promotion).width());
    });
  };

  /**
    * Reveals banner area tagline and "shop now" button, after logo is faded out
    */
  function revealTagline() {
    setTimeout(function() {
      $('.banner-container div.logo').fadeOut(1000, function() {
        $('.banner-container div.tagline.shop-link').fadeIn(1000);
      });
    }, 4500);

  };

  /**
    * Document ready and window resize function calls
    */
  $(function() {
    setPromotionDimenions();
    revealTagline();
  });
  $(window).resize(function() {
    setPromotionDimenions();
  });
</script>
<!-- /Page Scripts -->