<!-- /templates/index.liquid -->

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}

<div class="grid">

  <!-- Banner / Media -->
  <div class="grid__item large--one-whole large-down--one-whole">
    <div class="banner-container">
      <div class="video-background">
        <span class="medium-down--hide">
          <video width="100%" height="100%" poster="{{ 'Home.Banner.jpg' | asset_url }}" autoplay loop muted>
            <source src="{{ 'Home.SplashVideo.mp4' | asset_url" }}" type="video/mp4">
            {{ 'Home.Banner.jpg' | asset_url | img_tag: shop.name }}
          </video>
        </span>
        <span class="medium--hide">
          {{ 'Home.Banner.jpg' | asset_url | img_tag: shop.name }}
        </span>
      </div>
      <div class="logo">
        {{ 'Logo.png' | asset_url | img_tag: shop.name }}
      </div>
      <div class="tagline shop-link">

        <h1>{{ settings.home_tagline }}</h1>

        {% if settings.home_cta != '' %}
          {% assign cta_handle = settings.home_cta %}
          {% assign cta_collection = collections[cta_handle] %}
          {% assign cta_url = cta_collection.url %}
        {% else %}
          {% assign cta_url = '/collections/all' %}
        {% endif %}
        <a href="{{ cta_url }}" class="btn">{{ settings.home_cta_label }}</a>

      </div>
    </div>
  </div>

  <!-- Upper Left Two Columns -->
  <div class="grid__item row-half medium--two-fifths medium-down--one-whole">

    <div class="grid">

      <div class="grid__item large--one-half large-down--one-half">

        <div class="grid">

          <!-- Product Promotion #1 -->
          <div class="grid__item large--one-whole large-down--one-whole">

            <div class="product-promotion 1x1 blue first">

              <!-- Assign Product Variables -->
              {% assign promo1_handle = settings.home_promotion_a %}
              {% assign promo1_product = all_products[promo1_handle] %}
              {% assign promo1_variant = promo1_product.selected_or_first_available_variant %}
              {% if settings.home_promotion_a_short_label != "" %}
                {% assign promo1_product_title = settings.home_promotion_a_short_label %}
              {% else %}
                {% assign promo1_product_title = promo1_product.title %}
              {% endif %}
              {% assign product_object = promo1_product %}

              <!-- Display promotion data -->
              <a href="{{ promo1_product.url }}" class="promotion-data">
                <div>
                  <h2 class="title">
                    {{ promo1_product_title }}
                  </h2>
                  <p class="price">
                    {% if promo1_product.metafields.priceUnit.pricePerPound %}
                      {% assign unit_price = promo1_product.metafields.priceUnit.pricePerPound | times: 100 | money %}
                      {% include 'product-unit-price-label' with product_object, unit_price %}
                    {% else %}
                      {% assign unit_price = promo1_variant.price | money %}
                      {% include 'product-unit-price-label' with product_object, unit_price %}
                    {% endif %}
                  </p>
                </div>
              </a>
            </div>

          </div>

          <!-- "Fresh Crab" -->
          <div class="grid__item row large--one-whole large-down--one-whole">
            <div class="page-link 1x1" style="background-image: url({{ 'home_photo_4.jpg' | asset_url }});">

              {% assign pageLink4_handle = settings.home_link_4 %}
              {% assign pageLink4_collection = collections[pageLink4_handle] %}
              {% if settings.home_link_4_short_label != "" %}
                {% assign pageLink4_collection_title = settings.home_link_4_short_label %}
              {% else %}
                {% assign pageLink4_collection_title = pageLink4_collection.title %}
              {% endif %}

              <!-- Display page link data or image -->
              {% if settings.home_link_4 != "" %}
                <a href="{{ pageLink4_collection.url }}" class="link-data">
                  <div class="overlay">
                    <div class="link-text"><h2>{{ pageLink4_collection_title }}</h2></div>
                  </div>
                </a>
              {% endif %}

            </div>
          </div>

        </div>

      </div>

      <!-- Meet the Mongers -->
      <div class="grid__item large--one-half large-down--one-half">
        <div class="page-link 1x2" style="background-image: url({{ 'home_photo_1.jpg' | asset_url }});">

          {% assign pageLink1_handle = settings.home_link_1 %}
          {% assign pageLink1_blog = blogs[pageLink1_handle] %}
          {% if settings.home_link_1_short_label != "" %}
            {% assign pageLink1_blog_title = settings.home_link_1_short_label %}
          {% else %}
            {% assign pageLink1_blog_title = pageLink1_blog.title %}
          {% endif %}

          <!-- Display page link data or image -->
          {% if settings.home_link_1 != "" %}
            <a href="{{ pageLink1_blog.url }}" class="link-data">
              <div class="overlay">
                <div class="link-text"><h2>{{ pageLink1_blog_title }}</h2></div>
              </div>
            </a>
          {% endif %}

        </div>
      </div>

    </div>

  </div>
  <!-- /Upper Left Two Columns -->

  <!-- Upper Middle Two Columns -->
  <div class="grid__item medium--row-half medium--two-fifths medium-down--row medium-down--one-whole">

    <div class="grid">

      <!-- "Fresh Salmon" -->
      <div class="grid__item large--one-whole large-down--one-whole">
        <div class="page-link 2x1" style="background-image: url({{ 'home_photo_2.jpg' | asset_url }});">

          {% assign pageLink2_handle = settings.home_link_2 %}
          {% assign pageLink2_collection = collections[pageLink2_handle] %}
          {% if settings.home_link_2_short_label != "" %}
            {% assign pageLink2_collection_title = settings.home_link_2_short_label %}
          {% else %}
            {% assign pageLink2_collection_title = pageLink2_collection.title %}
          {% endif %}

          <!-- Display page link data or image -->
          {% if settings.home_link_2 != "" %}
            <a href="{{ pageLink2_collection.url }}" class="link-data">
              <div class="overlay">
                <div class="link-text"><h2>{{ pageLink2_collection_title }}</h2></div>
              </div>
            </a>
          {% endif %}

        </div>
      </div>

      <!-- Product Promotion #2 -->
      <div class="grid__item row large--one-half large-down--one-half">
        <!-- {{ 'Home.ProductPromo2.png' | asset_url | img_tag }} -->

        <div class="product-promotion 1x1 orange second">
          <!-- Assign Product Variables -->
          {% assign promo2_handle = settings.home_promotion_b %}
          {% assign promo2_product = all_products[promo2_handle] %}
          {% assign promo2_variant = promo2_product.selected_or_first_available_variant %}
          {% if settings.home_promotion_b_short_label != "" %}
            {% assign promo2_product_title = settings.home_promotion_b_short_label %}
          {% else %}
            {% assign promo2_product_title = promo2_product.title %}
          {% endif %}
          {% assign product_object = promo2_product %}

          <!-- Display promotion data -->
          <a href="{{ promo2_product.url }}" class="promotion-data">
            <div>
              <h2 class="title">
                {{ promo2_product_title }}
              </h2>
              <p class="price">
                {% if promo2_product.metafields.priceUnit.pricePerPound %}
                  {% assign unit_price = promo2_product.metafields.priceUnit.pricePerPound | times: 100 | money %}
                  {% include 'product-unit-price-label' with product_object, unit_price %}
                {% else %}
                  {% assign unit_price = promo2_variant.price | money %}
                  {% include 'product-unit-price-label' with product_object, unit_price %}
                {% endif %}
              </p>
            </div>
          </a>

        </div>

      </div>

      <!-- "Fulfillment" -->
      <div class="grid__item row large--one-half large-down--one-half">
        <div class="page-link 1x1" style="background-image: url({{ 'home_photo_5.jpg' | asset_url }});">

          {% assign pageLink5_handle = settings.home_link_5 %}
          {% assign pageLink5_page = pages[pageLink5_handle] %}
          {% if settings.home_link_5_short_label != "" %}
            {% assign pageLink5_page_title = settings.home_link_5_short_label %}
          {% else %}
            {% assign pageLink5_page_title = pageLink5_page.title %}
          {% endif %}

          <!-- Display page link data or image -->
          {% if settings.home_link_5 != "" %}
            <a href="{{ pageLink5_page.url }}" class="link-data">
              <div class="overlay">
                <div class="link-text"><h2>{{ pageLink5_page_title }}</h2></div>
              </div>
            </a>
          {% endif %}

        </div>
      </div>

    </div>

  </div>
  <!-- /Upper Middle Two Columns -->

  <!-- Upper Right Column: hide for small screens -->
  <div class="grid__item row-half medium--one-fifth medium-down--hide">
    <div class="page-link 1x2" style="background-image: url({{ 'home_photo_3.jpg' | asset_url }});">

      {% assign pageLink3_handle = settings.home_link_3 %}
      {% assign pageLink3_page = pages[pageLink3_handle] %}
      {% if settings.home_link_3_short_label != "" %}
        {% assign pageLink3_page_title = settings.home_link_3_short_label %}
      {% else %}
        {% assign pageLink3_page_title = pageLink3_page.title %}
      {% endif %}

      <!-- Display page link data or image -->
      {% if settings.home_link_3 != "" %}
        <a href="{{ pageLink3_page.url }}" class="link-data">
          <div class="overlay">
            <div class="link-text"><h2>{{ pageLink3_page_title }}</h2></div>
          </div>
        </a>
      {% endif %}

    </div>
  </div>
  <!-- /Upper Right Column -->

  <!-- Bottom 'Row' -->
  <div class="grid__item row large--one-whole large-down--one-whole">

    <div class="grid">

      <!-- Product Promotion #3 -->
      {% comment %}
        ### TODO KLT060816: Should be able to pull/push this item to swap positions, but not working as exepected
      {% endcomment %}
      <div class="grid__item medium--one-fifth medium-down--hide">

        <div class="product-promotion 1x1 green third">
          {% assign promo3_handle = settings.home_promotion_c %}
          {% assign promo3_product = all_products[promo3_handle] %}
          {% assign promo3_variant = promo3_product.selected_or_first_available_variant %}
          {% if settings.home_promotion_c_short_label != "" %}
            {% assign promo3_product_title = settings.home_promotion_c_short_label %}
          {% else %}
            {% assign promo3_product_title = promo3_product.title %}
          {% endif %}
          {% assign product_object = promo3_product %}

          <!-- Display promotion data -->
          <a href="{{ promo3_product.url }}" class="promotion-data">
            <div>
              <h2 class="title">
                {{ promo3_product_title }}
              </h2>
              <p class="price">
                {% if promo3_product.metafields.priceUnit.pricePerPound %}
                  {% assign unit_price = promo3_product.metafields.priceUnit.pricePerPound | times: 100 | money %}
                  {% include 'product-unit-price-label' with product_object, unit_price %}
                {% else %}
                  {% assign unit_price = promo3_variant.price | money %}
                  {% include 'product-unit-price-label' with product_object, unit_price %}
                {% endif %}
              </p>
            </div>
          </a>

        </div>

      </div>

      <!-- Gift Packs -->
      {% comment %}
        ### TODO KLT060816: Should be able to pull/push this item to swap positions, but not working as exepected
      {% endcomment %}
      <div class="grid__item medium--two-fifths medium-down--one-whole">
        <div class="page-link 2x1" style="background-image: url({{ 'home_photo_6.jpg' | asset_url }});">

          {% assign pageLink6_handle = settings.home_link_6 %}
          {% assign pageLink6_page = pages[pageLink6_handle] %}
          {% if settings.home_link_6_short_label != "" %}
            {% assign pageLink6_page_title = settings.home_link_6_short_label %}
          {% else %}
            {% assign pageLink6_page_title = pageLink6_page.title %}
          {% endif %}

          <!-- Display page link data -->
          {% if settings.home_link_6 != "" %}
            <a href="{{ pageLink6_page.url }}" class="link-data">
              <div class="overlay">
                <div class="link-text"><h2>{{ pageLink6_page_title }}</h2></div>
              </div>
            </a>
          {% endif %}

        </div>
      </div>

      <!-- Product Promotion #3 -->
      {% comment %}
        ### TODO KLT060816: Should be able to pull/push this item to swap positions, but not working as exepected
      {% endcomment %}
      <div class="grid__item row medium--hide medium-down--one-half">

        <div class="product-promotion 1x1 green third">
          {% assign promo3_handle = settings.home_promotion_c %}
          {% assign promo3_product = all_products[promo3_handle] %}
          {% assign promo3_variant = promo3_product.selected_or_first_available_variant %}
          {% if settings.home_promotion_c_short_label != "" %}
            {% assign promo3_product_title = settings.home_promotion_c_short_label %}
          {% else %}
            {% assign promo3_product_title = promo3_product.title %}
          {% endif %}
          {% assign product_object = promo3_product %}

          <!-- Display promotion data -->
          <a href="{{ promo3_product.url }}" class="promotion-data">
            <div>
              <h2 class="title">
                {{ promo3_product_title }}
              </h2>
              <p class="price">
                {% if promo3_product.metafields.priceUnit.pricePerPound %}
                  {% assign unit_price = promo3_product.metafields.priceUnit.pricePerPound | times: 100 | money %}
                  {% include 'product-unit-price-label' with product_object, unit_price %}
                {% else %}
                  {% assign unit_price = promo3_variant.price | money %}
                  {% include 'product-unit-price-label' with product_object, unit_price %}
                {% endif %}
              </p>
            </div>
          </a>

        </div>

      </div>

      <!-- Seafood Watch -->
      <div class="grid__item medium--one-fifth medium-down--row medium-down--one-half">
        <div class="page-link 1x1">

          {% assign seafoodWatch_page = pages["sustainable-seafood"] %}

          <!-- Display page link data -->
          <a href="{{ seafoodWatch_page.url }}" class="link-data">
            {{ 'Home.SeafoodWatch.png' | asset_url | img_tag: seafoodWatch_page.title, 'link-image default' }}
            {{ 'Home.SeafoodWatch.Hover.png' | asset_url | img_tag: seafoodWatch_page.title, 'link-image hover' }}
          </a>

        </div>
      </div>

      <!-- Product Promotion #4 -->
      <div class="grid__item medium--one-fifth medium-down--hide">

        <div class="product-promotion 1x1 grey fourth">
          <!-- Assign Product Variables -->
          {% assign promo4_handle = settings.home_promotion_d %}
          {% assign promo4_product = all_products[promo4_handle] %}
          {% assign promo4_variant = promo4_product.selected_or_first_available_variant %}
          {% if settings.home_promotion_d_short_label != "" %}
            {% assign promo4_product_title = settings.home_promotion_d_short_label %}
          {% else %}
            {% assign promo4_product_title = promo4_product.title %}
          {% endif %}
          {% assign product_object = promo4_product %}

          <!-- Display promotion data -->
          <a href="{{ promo4_product.url }}" class="promotion-data">
            <div>
              <h2 class="title">
                {{ promo4_product_title }}
              </h2>
              <p class="price">
                {% if promo4_product.metafields.priceUnit.pricePerPound %}
                  {% assign unit_price = promo4_product.metafields.priceUnit.pricePerPound | times: 100 | money %}
                  {% include 'product-unit-price-label' with product_object, unit_price %}
                {% else %}
                  {% assign unit_price = promo4_variant.price | money %}
                  {% include 'product-unit-price-label' with product_object, unit_price %}
                {% endif %}
              </p>
            </div>
          </a>

        </div>

      </div>

    </div>

  </div>
  <!-- /Bottom 'Row' -->

  <!-- Small-Screen Bottom Area -->
  <div class="grid__item medium--hide medium-down--one-whole">

    <div class="grid">

      <!-- Monger #2 -->
      <div class="grid__item row medium-down--one-half">
        <div class="page-link 1x2" style="background-image: url({{ 'home_photo_3.jpg' | asset_url }});">

          {% assign pageLink3_handle = settings.home_link_3 %}
          {% assign pageLink3_page = pages[pageLink3_handle] %}
          {% if settings.home_link_3_short_label != "" %}
            {% assign pageLink3_page_title = settings.home_link_3_short_label %}
          {% else %}
            {% assign pageLink3_page_title = pageLink3_page.title %}
          {% endif %}

          <!-- Display page link data or image -->
          {% if settings.home_link_3 != "" %}
            <a href="{{ pageLink3_page.url }}" class="link-data">
              <div class="overlay">
                <div class="link-text"><h2>{{ pageLink3_page_title }}</h2></div>
              </div>
            </a>
          {% endif %}

        </div>
      </div>

      <div class="grid__item medium-down--one-half">

        <div class="grid">

          <!-- Product Promotion #4 -->
          <div class="grid__item row medium-down--one-whole">

            <div class="product-promotion 1x1 grey fourth">
              <!-- Assign Product Variables -->
              {% assign promo4_handle = settings.home_promotion_d %}
              {% assign promo4_product = all_products[promo4_handle] %}
              {% assign promo4_variant = promo4_product.selected_or_first_available_variant %}
              {% if settings.home_promotion_d_short_label != "" %}
                {% assign promo4_product_title = settings.home_promotion_d_short_label %}
              {% else %}
                {% assign promo4_product_title = promo4_product.title %}
              {% endif %}
              {% assign product_object = promo4_product %}

              <!-- Display promotion data -->
              <a href="{{ promo4_product.url }}" class="promotion-data">
                <div>
                  <h2 class="title">
                    {{ promo4_product_title }}
                  </h2>
                  <p class="price">
                    {% if promo4_product.metafields.priceUnit.pricePerPound %}
                      {% assign unit_price = promo4_product.metafields.priceUnit.pricePerPound | times: 100 | money %}
                      {% include 'product-unit-price-label' with product_object, unit_price %}
                    {% else %}
                      {% assign unit_price = promo4_variant.price | money %}
                      {% include 'product-unit-price-label' with product_object, unit_price %}
                    {% endif %}
                  </p>
                </div>
              </a>

            </div>

          </div>

          <!-- Bottom Right Block -->
          <div class="grid__item row medium-down--one-whole">
            <div class="page-link 1x1" style="background-image: url({{ 'home_photo_7.jpg' | asset_url }});">

              {% assign pageLink7_handle = settings.home_link_7 %}
              {% assign pageLink7_collection = collections[pageLink7_handle] %}
              {% if settings.home_link_7_short_label != "" %}
                {% assign pageLink7_collection_title = settings.home_link_7_short_label %}
              {% else %}
                {% assign pageLink7_collection_title = pageLink7_collection.title %}
              {% endif %}

              <!-- Display page link data or image -->
              {% if settings.home_link_7 != "" %}
                <a href="{{ pageLink7_collection.url }}" class="link-data">
                  <div class="overlay">
                    <div class="link-text"><h2>{{ pageLink7_collection_title }}</h2></div>
                  </div>
                </a>
              {% endif %}

            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
  <!-- /Upper Left Two Columns -->


</div>

<!-- Page Scripts -->
<script>
  /**
    * Ensures each production promotion block maintains square dimensions
    */
  var blockDimension            = 0;
  function setBlockSizes() {

    // Set all product promotion squares to equal width and height
    $('div.product-promotion').each(function() {
      var promotion             = $(this);
      $(promotion).height($(promotion).width());
    });

    // Set the size of a square side based on the product promotion squares
    blockDimension              = $('div.product-promotion').first().outerWidth();

    // Set image-based block width and heights based on how many squares they cover
    $('div.page-link').each(function() {
      // Set 1x1 blocks
      if ($(this).hasClass('1x1')) {
        $(this).width(blockDimension).height(blockDimension);
      }
      // Set 1x2 blocks - include gutter in height
      if ($(this).hasClass('1x2')) {
        $(this).width(blockDimension).height((blockDimension*2)+10);
      }
      // Set 2x1 blocks - include gutter in width
      if ($(this).hasClass('2x1')) {
        $(this).width((blockDimension*2)+10).height(blockDimension);
      }
    });

  };

  /**
    * Reveals banner area tagline and "shop now" button, after logo is faded out
    */
  function revealTagline() {
    setTimeout(function() {
      $('.banner-container div.logo').fadeOut(1000, function() {
        $('.banner-container div.tagline.shop-link').fadeIn(1000);
      });
    }, 4500);

  };

  /**
    * Document ready and window resize function calls
    */
  $(function() {
    setBlockSizes();
    revealTagline();
  });
  $(window).resize(function() {
    setBlockSizes();
  });
</script>
<!-- /Page Scripts -->